# Connection to Database
    DBDRIVER   = ''
    DBNAME     = ''
    DBHOST     = ''
    DBPORT     = ''
    DBUSER     = ''
    DBPASSWORD = ''

TESTE= __DIR__
ASSETS=BASE_URL.'\\App\\Resource\\Assets\\'
BASE_URL='sua_url'
VIEW_URL=__DIR__.'\\App\\Resource\\Views\\'